@font-face
{
    font-family: 'icons';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/icons.eot?aa9m0j');
    src: url('fonts/icons.eot?aa9m0j#iefix') format('embedded-opentype'), url('fonts/icons.ttf?aa9m0j') format('truetype'), url('fonts/icons.woff?aa9m0j') format('woff'), url('fonts/icons.svg?aa9m0j#icons') format('svg');
    font-display: block;
}

i
{
    font-family: 'icons' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: never;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i::before
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.icon-arrow-left:before
{
    content: '\e900';
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.icon-arrow-right:before
{
    content: '\e900';
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.icon-arrow-bottom:before
{
    content: '\e900';

    color: #005db4;
}

.icon-underline:before
{
    content: '\e90b';
}

.icon-arrow-top-right:before
{
    content: '\e901';

    color: #a6f400;
}

.icon-close:before
{
    content: '\e902';
}

.icon-signin:before
{
    content: '\e903';

    color: #fff;
}

.icon-star:before
{
    content: '\e904';

    color: #fee440;
}

.icon-tg .path1:before
{
    content: '\e905';

    color: #006cff;
}

.icon-tg .path2:before
{
    margin-left: -1em;

    content: '\e906';

    color: #fff;
}

.icon-vk .path1:before
{
    content: '\e907';

    color: #006cff;
}

.icon-vk .path2:before
{
    margin-left: -1em;

    content: '\e908';

    color: #fff;
}

.icon-whatsapp .path1:before
{
    content: '\e909';

    color: #006cff;
}

.icon-whatsapp .path2:before
{
    margin-left: -1em;

    content: '\e90a';

    color: #fdfdfd;
}
@supports (-webkit-appearance:none)
{
}
