*
{
    font-family: 'Source Code Pro';

    color: #fff;
}

section
{
    padding: 60px 0;
}

h1
{
    font-size: 92px;
}

h2
{
    font-size: 52px;
    font-weight: 600;
    line-height: 1;

    letter-spacing: 4px;
    text-transform: uppercase;
}

h3
{
    font-family: 'Source Code Pro', Arial, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: .75;

    letter-spacing: 1.5px;
}

h4
{
    font-family: 'Source Code Pro', Arial, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: .75;

    letter-spacing: 1.5px;
}

h5
{
    font-family: 'Manrope', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.05;

    letter-spacing: 2px;
}

p
{
    font-family: 'Manrope';
    font-size: 24px;
}

.header
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100vw;
}

.startpage
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 100vh;

    background-color: #008500;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.startpage__container
{
    position: relative;

    display: grid;

    max-width: 1430px !important;
    padding: 200px 200px 100px !important;

    background-image: url('./../img/background/cubiki.png');

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: 590px auto;
    gap: 0 60px;
    align-items: center;
    grid-template-areas: 'logo title' 'pic title' 'desc desc';
}

.startpage__container *
{
    position: relative;
}

.startpage__logo
{
    min-width: 100px;

    grid-area: logo;
}

.startpage__pic
{
    grid-area: pic;
}

.startpage__title
{
    font-family: 'Source Code Pro';
    font-weight: 600;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    text-transform: uppercase;

    grid-area: title;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}

.startpage__desc
{
    margin-top: 40px;

    text-align: center;

    grid-area: desc;
}

.characteristics
{
    position: relative;

    background-color: #2fa52f;
}

.characteristics::before
{
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transform: translateZ(0);
            transform: translateZ(0);

    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,133,0,.8)), to(rgba(90,182,90,.15)));
    background-image: -o-linear-gradient(bottom, rgba(0,133,0,.8), rgba(90,182,90,.15));
    background-image:    linear-gradient(to top, rgba(0,133,0,.8), rgba(90,182,90,.15));

    will-change: transform;
}

.characteristics *
{
    position: relative;
}

.characteristics__title
{
    margin: 0 0 80px 80px;
}

.characteristics__blocks
{
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.characteristics__item
{
    height: 100%;
    padding: 20px 15px;

    border-radius: 30px;
    background-color: #0a7909;
}

.characteristics__item:nth-child(2)
{
    background: #fff;
}

.characteristics__item:nth-child(2) *
{
    color: #000;
}

.characteristics__item:first-child,
.characteristics__item:last-child
{
    background-image: url('./../img/background/cubiki.png');
}

.characteristics__pic,
.characteristics__name
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: -webkit-fit-content;
    width:    -moz-fit-content;
    width:         fit-content;
    margin: 0 auto;
}

.characteristics__pic
{
    margin-bottom: 4px;
}

.characteristics__name
{
    margin-bottom: 16px;
}

.actuality
{
    padding: 0;
}

.actuality__header
{
    position: relative;

    padding: 82px 0;

    background-color: #2fa52f;
}

.actuality__header::before
{
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transform: translateZ(0);
            transform: translateZ(0);

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,133,0,.8)), to(rgba(90,182,90,.15)));
    background-image: -o-linear-gradient(top, rgba(0,133,0,.8), rgba(90,182,90,.15));
    background-image:    linear-gradient(to bottom, rgba(0,133,0,.8), rgba(90,182,90,.15));

    will-change: transform;
}

.actuality__title
{
    position: relative;

    margin-left: 60px;
}

.actuality__list
{
    max-width: 760px;
    margin: 0 auto;
    padding: 75px 0 30px;
}

.conclusion
{
    display: grid;

    padding: 20px 0;

    background-color: #2fa52f;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: 1.1fr .9fr;
    gap: 30px;
}

.conclusion__block
{
    font-size: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    max-width: 768px;
}

.conclusion__text
{
    font-size: 18px;

    max-width: 512px;

    letter-spacing: .5px;
}

.conclusion #block_1
{
    margin-left: auto;

    text-align: right;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.conclusion #block_1 p
{
    font-family: 'Source Code Pro', Arial, sans-serif;

    max-width: 70%;

    text-align: right;
    text-transform: uppercase;

    color: #194719;
}

.conclusion #block_2
{
    padding: 80px;

    text-align: center;

    border-left: 10px solid #fff;
    background-image: url('./../img/background/greenlight.png');
}

.conclusion #block_2 p
{
    font-family: 'Manrope', Arial, sans-serif;
    font-weight: 500;

    max-width: 60%;

    letter-spacing: 1px;
}

.path
{
    padding: 0;
}

.path__header
{
    position: relative;

    padding: 82px 0;
}

.path__title
{
    text-align: right;

    color: #2fa52f;
}

.path__slider
{
    display: grid;

    padding-top: 60px;
    padding-bottom: 15px;

    background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(85%, #2fa52f));
    background-image: -o-linear-gradient(bottom, #fff 0%, #2fa52f 85%);
    background-image:    linear-gradient(0turn, #fff 0%, #2fa52f 85%);

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-template-areas: 'prev list next' 'dots dots dots';
}

.path__slider .slick-slider
{
    display: grid !important;
}

.path__slider .slick-dots
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.path__slider .path__list
{
    max-width: 100%;

    grid-area: list;
}

.path__slider .prev
{
    grid-area: prev;
}

.path__slider .next
{
    grid-area: next;
}

.path__slider .path__dots
{
    grid-area: dots;
}

.path__slider .slick-slide
{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.path__slider .path__item
{
    height: 100%;
    padding: 10px;
}

.path__list
{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.path__item
{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
        flex-direction: column;

    width: -webkit-fit-content !important;
    width:    -moz-fit-content !important;
    width:         fit-content !important;
    max-width: 660px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.path__pic
{
    max-width: 150px;
    margin-bottom: 40px;

    border-radius: 50%;
}

.path__desc
{
    font-size: 18px;
    font-weight: 500;

    margin-bottom: 32px;

    text-align: center;

    color: #000;
}

.path__name
{
    font-weight: 600;

    color: #000;
}

.path__toggle
{
    margin: 30px;
}

.path__dots
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-top: 24px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.path__dots li
{
    padding: 10px 5px;
}

.path__dots button
{
    font-size: 0;

    width: 6px;
    height: 6px;

    border-radius: 50%;
    background: #c7c7c7;
}

.path__dots li.slick-active button
{
    background: #222;
}

.found
{
    padding: 30px 0 0;
}

.found__title,
.found__photo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.found__title
{
    font-weight: 600;
    line-height: 1.17;

    margin-bottom: 45px;

    text-align: center;
    letter-spacing: .5px;

    color: #000;
}

.found__photo
{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 60px;

    background-image: -webkit-gradient(linear, left bottom, left top, from(#2fa52f), color-stop(59%, #fff));
    background-image: -o-linear-gradient(bottom, #2fa52f 0%, #fff 59%);
    background-image:    linear-gradient(0turn, #2fa52f 0%, #fff 59%);
}

.team
{
    position: relative;

    padding: 200px 0;

    background-color: #2fa52f;

    will-change: transform;
}

.team *
{
    position: relative;
}

.team::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(90,182,90,.15)), to(rgba(4,116,1,.85)));
    background-image: -o-linear-gradient(top, rgba(90,182,90,.15), rgba(4,116,1,.85));
    background-image:    linear-gradient(to bottom, rgba(90,182,90,.15), rgba(4,116,1,.85));
}

.team__title
{
    margin-bottom: 64px;
}

.team__list
{
    display: grid;

    padding: 0 85px;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.team__member
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
        flex-direction: column;

    height: 100%;
    padding-top: 24px;

    text-align: center;

    border-radius: 30px;
    background-color: #0a7909;
    background-image: url('./../img/background/cubiki.png');
    -webkit-box-shadow: 0 0 0 0 rgba(0,109,0,.5);
            box-shadow: 0 0 0 0 rgba(0,109,0,.5);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.team__member:nth-child(2n)
{
    background-color: #fff;
    background-image: none;
}

.team__member:nth-child(2n) *
{
    color: #008500;
}

.team__member:nth-child(3n)
{
    background-image: none;
}

.team__member:nth-child(3n) *
{
    color: #000;
}

.team__name,
.team__position
{
    margin-bottom: 12px;
}

.team__pic
{
    width: 100%;
    margin-top: auto;
}

.contacts
{
    position: relative;

    background-image: url('./../img/background/projector.jpg');
}

.contacts *
{
    position: relative;
}

.contacts::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background-image: -webkit-linear-gradient(top, rgba(0,133,0,.9), rgba(0,0,0,.3));
}

.contacts__container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: -webkit-fit-content;
    width:    -moz-fit-content;
    width:         fit-content;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contacts__logo
{
    margin-bottom: 24px;

    border-radius: 50%;
}

.contacts__title
{
    color: #fff;
}

.contacts__devider
{
    width: 100%;
    height: 1px;
    margin: 24px 0;

    background: #fff;
}

.contacts__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    gap: 15px;
}

.contacts__item
{
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 300px;
    padding: 16px;

    color: #fff;
    border-radius: 30px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contacts__item._email
{
    background-color: #168de2;
}

.contacts__item._tg
{
    background-color: #0087d0;
}

.contacts__item._vk
{
    background-color: #47668d;
}

.title
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.title ._text
{
    position: relative;
}

.title ._shadow
{
    position: absolute;
    bottom: -30%;

    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);

    opacity: .7;
    color: #000;

    -webkit-filter: blur(3px);
            filter: blur(3px);
}

.list__item
{
    font-size: 18px;
    font-weight: 500;

    margin-left: 20px;

    list-style-type: disc;
}

.points
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    gap: 60px;
}

.points__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 40px;
}

.points__info,
.points__value,
.points__name
{
    color: #0a7909;
}

.points__desc
{
    font-size: 18px;
    font-weight: 500;

    color: #000;
}

.points__name
{
    margin-bottom: 14px;

    text-transform: uppercase;
}

.points__value
{
    font-size: 64px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    min-width: 100px;
    min-height: 100px;

    color: #008500;
    border: 3px solid #008500;
    border-radius: 50%;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal
{
    position: fixed;
    z-index: -1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100vw;
    height: 100vh;

    opacity: 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal._open
{
    z-index: 3;

    opacity: 1;
}

.modal__window
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.menu__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slider__toggle
{
    line-height: 1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 30px;
    height: 30px;

    color: #222;
    border-radius: 50%;
    background-color: #e8e8e8;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dropdown
{
    position: relative;

    cursor: pointer;
}

.dropdown__title
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dropdown__title *
{
    color: blue-color;
}

.dropdown__wrapper
{
    overflow: hidden;
}

.dropdown__item,
.dropdown__content
{
    margin-top: -100vh;
}

.dropdown._abs .dropdown__wrapper
{
    position: absolute;
}

.dropdown._open .dropdown__content
{
    margin-top: 0;
}

.dropdown._open .dropdown__title_icon
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

*
{
    --containerWidth: 1230px;
    --containerIndents: 40px;
}

div[class$='__container']
{
    max-width: calc(var(--containerWidth) + var(--containerIndents) * 2);
    margin: 0 auto;
    padding: 0 var(--containerIndents);
}

@-webkit-keyframes fade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes fade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@media (min-width: 536.1px)
{
    .team__toggle
    {
        display: none;
    }
}

@media (max-width: 1430px)
{
    .startpage
    {
        padding: 30px;
    }

    .startpage__container
    {
        max-width: 1430px !important;
        padding: 200px 50px 100px !important;
    }
}

@media (max-width: 992px)
{
    h1
    {
        font-size: 64px;
    }

    h3
    {
        font-size: 32px;
    }

    h5
    {
        font-size: 16px;
    }

    .startpage
    {
        height: auto;
    }

    .startpage__container
    {
        max-width: 100% !important;
        padding: 120px 120px 60px !important;

        grid-template-columns: .75fr 1.25fr;
        grid-template-areas: 'logo title' 'pic pic' 'desc desc';
    }

    .startpage__logo
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .startpage__pic
    {
        margin: 0 auto;
    }

    .conclusion
    {
        padding: 48px 0;
    }

    .conclusion #block_2
    {
        padding: 32px;
    }

    .conclusion #block_2 p
    {
        max-width: 80%;
    }

    .team
    {
        padding: 80px 0;
    }

    .team__slider,
    .team__list
    {
        width: 100%;
    }

    .team__list
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        padding: 0;
        padding: 0;

        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .team__member
    {
        width: calc(50% - 15px);
        height: 600px;
    }

    .team__member:nth-child(1)
    {
        margin: 0 auto;
    }

    .menu
    {
        position: fixed;
        left: -100%;
    }

    .menu__list
    {
            flex-direction: column;

        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .menu._active
    {
        left: 0;
    }
}

@media (max-width: 768px)
{
    h2
    {
        font-size: 46px;
    }

    .startpage__container
    {
        padding: 80px 24px 60px !important;
    }

    .characteristics__blocks
    {
        grid-template-columns: 1fr;
    }

    .characteristics__title
    {
        margin: 0 auto 50px;
    }

    .actuality__header
    {
        padding: 50px 0;
    }

    .conclusion
    {
        padding: 32px var(--containerIndents);

        grid-template-columns: 1fr;
    }

    .conclusion #block_1 p,
    .conclusion #block_2 p
    {
        max-width: 100%;

        text-align: center;
    }

    .conclusion #block_2
    {
        border-top: 10px solid #fff;
        border-left: 0;
    }

    .path__header
    {
        padding: 50px 0;
    }

    .points__item
    {
        gap: 30px;
    }

    .points__value
    {
        font-size: 48px;

        min-width: 70px;
        min-height: 70px;
    }

    .points__desc
    {
        font-size: 16px;
    }

    *
    {
        --containerIndents: 24px;
    }
}

@media (max-width: 536px)
{
    h1
    {
        font-size: 40px;
    }

    h2
    {
        font-size: 32px;
    }

    h4
    {
        font-size: 28px;
        line-height: 1.25;
    }

    .startpage__container
    {
        padding: 80px 24px 60px !important;
    }

    .path__slider
    {
        grid-template-columns: 50px auto 50px;
    }

    .path__toggle
    {
        position: relative;

        margin: 0;
    }

    .path__toggle._prev
    {
        margin-left: auto;
    }

    .team__slider
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .team__toggle
    {
        position: absolute;
        z-index: 1;
    }

    .team__toggle._prev
    {
        left: -12px;
    }

    .team__toggle._next
    {
        right: -12px;
    }

    .slider__toggle
    {
        width: 40px;
        height: 40px;
    }
}
@supports (-webkit-appearance:none)
{
    .startpage__container
    {
        background-image: url('./../img/background/cubiki.webp');
    }
    .characteristics__item:first-child,
    .characteristics__item:last-child
    {
        background-image: url('./../img/background/cubiki.webp');
    }
    .conclusion #block_2
    {
        background-image: url('./../img/background/greenlight.webp');
    }
    .team__member
    {
        background-image: url('./../img/background/cubiki.webp');
    }
    .contacts
    {
        background-image: url('./../img/background/projector.webp');
    }
}

@media (min-width: 536.1px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 1430px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 992px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 768px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 536px)
{
    @supports (-webkit-appearance:none)
    {
    }
}
