*
{
    font-family: Lato !important;
}

@-webkit-keyframes fade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

@keyframes fade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}

h1
{
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
}

h2
{
    font-size: 36px;
    font-weight: 800;
    line-height: 43.2px;
}

h3
{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}

body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

section
{
    width: 100%;
    max-width: 100vw;
    padding: 67px 0;
}

._gray-color
{
    color: #c3c3c3;
}

._blue-color
{
    color: #3e9cdc;
}

.header
{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    width: 100vw;
    padding: 33.5px 0;

    background-color: #10101de5;
}

.header__container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo
{
    margin-right: auto;
}

.header__burger
{
    margin-left: auto;
}

.startpage
{
    height: 987px;
    padding: 0;

    background-image: url('./../img/background/startpage-bg.png');
}

.startpage__info
{
    margin-top: 203px;
}

.startpage__maintitle
{
    text-transform: uppercase;

    color: black;
}

.startpage__maintitle,
.startpage__desc
{
    margin-bottom: 80px;
}

.startpage__desc
{
    font-size: 20px;
    line-height: 24px;
}

.startpage__text
{
    font-weight: 700;

    margin-bottom: 10px;
}

.startpage__buttons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    gap: 30px;
}

.startpage__btn
{
    width: 183px;
}

.order
{
    background-image: url('./../img/background/order-bg.png');
}

.order__title
{
    margin-bottom: 30px;
}

.order__subtitle,
.order__steps
{
    margin-bottom: 80px;
}

.footer
{
    width: 100%;
    padding: 31px;

    background-color: #3d4050;
}

.footer__container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__devider
{
    width: 1px;
    height: 18px;

    background-color: #c3c3c3;
}

.footer__text
{
    font-size: 13px;
    line-height: 15.6px;

    color: white;
}

.footer__contacts
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 38px;
}

.logo
{
    font-family: Raleway;
    font-size: 28px;
    font-weight: 800;
    line-height: 32.87px;

    text-transform: uppercase;

    color: white;
}

.logo:hover
{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.menu__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-transition: all .2s ease .2s;
         -o-transition: all .2s ease .2s;
            transition: all .2s ease .2s;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 60px;
}

.menu__link
{
    font-size: 13px;
    font-weight: 600;
    line-height: 15.6px;

    text-transform: uppercase;

    color: white;
}

.menu__link:hover
{
    opacity: .5;
}

.menu__link._active
{
    color: #3e9cdc;
}

.burger
{
    display: none;
}

.list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    gap: 5px;
}

.list__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    color: black;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.list__item::before
{
    position: relative;
    top: 2px;

    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;

    min-width: 7px;
    height: 2px;
    margin: 10px;

    content: '';

    color: inherit;
    background-color: black;
}

.btn
{
    font-size: 13px;
    line-height: 15.6px;

    padding: 15px;

    text-transform: uppercase;

    border-radius: 4px;
}

.btn:hover
{
    -webkit-box-shadow: 6px 6px 2px 0 rgba(34, 60, 80, .2);
            box-shadow: 6px 6px 2px 0 rgba(34, 60, 80, .2);
}

.btn_blue
{
    color: white;
    border: 1px solid white;
    background-color: #3e9cdc;
}

.btn_white
{
    color: #2a2b30;
    border: 1px solid #6f6d7b;
    background-color: white;
}

.title
{
    text-align: center;
    text-transform: uppercase;

    color: white;
}

.subtitle
{
    text-align: center;

    color: #bbb;
}

.steps
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.steps__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    text-align: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}

.steps__line
{
    position: absolute;
}

.steps__pic
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100px;
    height: 100px;
    margin-bottom: 20px;

    border: 5px solid #286690;
    border-radius: 50%;
    background-color: #3e9cdc;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.steps__name
{
    font-size: 16px;
    line-height: 19.2px;

    color: white;
}

.form
{
    display: grid;

    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.form ._scale
{
    grid-column: span 2;
}

.form ._submit
{
    grid-column-end: -2;
}

.form__field
{
    width: 100%;
}

.form__field._error .form__input
{
    border: 1px solid red;
}

.form__field._error .form__input::-webkit-input-placeholder
{
    color: red;
}

.form__field._error .form__input::-moz-placeholder
{
    color: red;
}

.form__field._error .form__input:-ms-input-placeholder
{
    color: red;
}

.form__field._error .form__input::-ms-input-placeholder
{
    color: red;
}

.form__field._error .form__input::placeholder
{
    color: red;
}

.form__input
{
    font-size: 18px;
    line-height: 21.6px;

    width: 100%;
    padding: 12px 10px;

    border: 1px solid #fff;
    border-radius: 3px;
    background: rgba(255, 255, 255, .85);
}

.form__input::-webkit-input-placeholder
{
    color: #272733;
}

.form__input::-moz-placeholder
{
    color: #272733;
}

.form__input:-ms-input-placeholder
{
    color: #272733;
}

.form__input::-ms-input-placeholder
{
    color: #272733;
}

.form__input::placeholder
{
    color: #272733;
}

.form__file
{
    width: 100%;
}

.scale
{
    font-size: 18px;
    line-height: 21.6px;

    display: grid;

    color: white;

    grid-template-columns: 1fr -webkit-min-content;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr 1fr;
    gap: 11.09px;
    grid-template-areas: 'title value'    'line line';
}

.scale__title
{
    grid-area: title;
}

.scale__value
{
    grid-area: value;
}

.scale__line
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 6px;

    border: 1px solid white;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .7);

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-area: line;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.scale__line::-webkit-slider-thumb
{
    width: 23.72px;
    height: 23.72px;

    cursor: pointer;
    -webkit-transition: 0s;
            transition: 0s;

    border: 3px solid #286690;
    border-radius: 50%;
    background-color: #42a9ed;

    -webkit-appearance: none;
            appearance: none;
}

.scale__line::-moz-range-thumb
{
    width: 23.72px;
    height: 23.72px;

    cursor: pointer;
    -moz-transition: 0s;
         transition: 0s;

    border: 3px solid #286690;
    border-radius: 50%;
    background-color: #42a9ed;
}

.scale__marker
{
    width: 23.72px;
    height: 23.72px;

    -webkit-transition: 0s;
         -o-transition: 0s;
            transition: 0s;

    border: 3px solid #286690;
    border-radius: 50%;
    background-color: #42a9ed;
}

.ranger
{
    display: none;

    width: 100%;
    height: 6px;

    border: 1px solid white;
    border-radius: 2px;
    outline: none;
    background-color: rgba(255, 255, 255, .7);

    -webkit-appearance: none;
}

.file
{
    font-size: 18px;
    line-height: 21.6px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 12px 10px;

    cursor: pointer;

    border: 1px solid #3e9cdc;
    border-radius: 3px;
    background: rgba(255, 255, 255, .85);

    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.file:hover
{
    -webkit-box-shadow: 6px 6px 2px 0 rgba(34, 60, 80, .2);
            box-shadow: 6px 6px 2px 0 rgba(34, 60, 80, .2);
}

.file__icon
{
    margin-right: 10px;
}

.file__input
{
    position: absolute;
    z-index: -1;

    display: block;

    width: 0;
    height: 0;

    opacity: 0;
}

.file__text
{
    text-transform: uppercase;
}

.dropdown
{
    position: relative;
    z-index: 2;
}

.dropdown__title
{
    font-size: 18px;
    line-height: 21.6px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 12px 10px;

    cursor: pointer;

    border: 1px solid #fff;
    border-radius: 3px;
    background: rgba(255, 255, 255, .85);

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.dropdown__icon
{
    font-size: 8.91px;
}

.dropdown__wrapper
{
    overflow: hidden;

    width: 100%;
}

.dropdown__item
{
    font-size: 18px;
    line-height: 21.6px;

    padding: 12px 10px;

    cursor: pointer;

    border-radius: 3px;
    border-radius: 0;
    background: rgba(255, 255, 255, .85);
}

.dropdown__item:hover
{
    background-color: white;
}

.dropdown__item:last-child
{
    border-radius: 0 0 3px 3px;
}

.dropdown__content
{
    margin-top: -100vh;
}

.dropdown._abs .dropdown__wrapper
{
    position: absolute;
}

.dropdown._open .dropdown__title
{
    border-radius: 3px 3px 0 0;
}

.dropdown._open .dropdown__content
{
    margin-top: 0;
}

.lock
{
    overflow: hidden;

    -ms-touch-action: none;
        touch-action: none;
}

.contacts__item
{
    font-size: 13px;
    line-height: 15.6px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    color: white;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.contacts__item:hover
{
    color: #c3c3c3;
}

.contacts__item._gray-color:hover
{
    color: white;
}

.contacts__icon
{
    font-size: 20px;

    margin-right: 10px;
}

*
{
    --containerWidth: 1172px;
    --containerIndents: 24px;
}

._container
{
    max-width: calc(var(--containerWidth)  + var(--containerIndents) * 2);
    margin: 0 auto;
    padding: 0 var(--containerIndents);
}

@media (max-width: 1200px)
{
    .footer__devider
    {
        display: none;
    }

    .footer__container
    {
        display: grid;

        grid-template-columns: 1fr 1fr;
        gap: 30px 15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer__block
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer ._copyright
    {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        grid-column: span 2;
    }

    .footer ._social-1
    {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .footer ._social-2
    {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

@media (max-width: 992px)
{
    .startpage
    {
        height: auto;
    }

    .startpage__info
    {
        margin-top: 153px;
        margin-bottom: 253px;
    }

    .footer__container
    {
        grid-template-columns: 1fr;
    }

    .footer__block
    {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .footer ._copyright
    {
        grid-column: span 1;
    }

    .steps
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 30px 0;
    }

    .steps__item
    {
        min-width: 33.33%;
        max-width: 33.33%;
    }

    .form
    {
        grid-template-columns: 1fr 1fr;
    }

    .form ._scale
    {
        grid-column: span 1;
    }

    .form ._submit
    {
        grid-column: span 2;
    }

    .file__text
    {
        text-transform: none;
    }
}

@media (max-width: 768px)
{
    h1
    {
        font-size: 40px;
        line-height: 50px;
    }

    .startpage__info
    {
        margin-bottom: 100px;
    }

    .menu
    {
        position: fixed;
        top: 0;
        right: -100%;

        height: 100vh;

        background-color: #3e9cdc;
        background-color: #10101de5;
    }

    .menu__list
    {
            flex-direction: column;

        height: 100%;
        padding-top: 20px;

        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        gap: 0;
    }

    .menu__link
    {
        font-size: 24px;

        padding: 20px 40px;
    }

    .menu__link._active
    {
        color: #286690;
    }

    .menu._active
    {
        right: 0;
    }

    .burger
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
            flex-direction: column;

        height: var(--height);

        --height: 20px;
        --heightItem: 2px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .burger::before,
    .burger div,
    .burger::after
    {
        width: 32px;
        height: var(--heightItem);

        content: '';
        -webkit-transition: margin .2s ease .2s, width .2s, -webkit-transform .2s;
             -o-transition: margin .2s ease .2s, transform .2s, width .2s;
                transition: margin .2s ease .2s, width .2s, -webkit-transform .2s;
                transition: margin .2s ease .2s, transform .2s, width .2s;
                transition: margin .2s ease .2s, transform .2s, width .2s, -webkit-transform .2s;

        background: white;
    }

    .burger::before
    {
        margin: 0 0 calc((var(--height) - var(--heightItem) * 3) / 2) 0;
    }

    .burger::after
    {
        margin: calc((var(--height) - var(--heightItem) * 3) / 2) 0 0 0;
    }

    .burger._active
    {
        margin-bottom: 8px;
    }

    .burger._active::before,
    .burger._active div,
    .burger._active::after
    {
        -webkit-transition: margin .2s ease 0s, -webkit-transform .2s ease .2s;
             -o-transition: margin .2s ease 0s, transform .2s ease .2s;
                transition: margin .2s ease 0s, -webkit-transform .2s ease .2s;
                transition: margin .2s ease 0s, transform .2s ease .2s;
                transition: margin .2s ease 0s, transform .2s ease .2s, -webkit-transform .2s ease .2s;

        background: #3e9cdc;
    }

    .burger._active::before
    {
        margin: 8px 0 calc(-1 * var(--heightItem)) 0;

        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    .burger._active div
    {
        -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
                transform: rotate(135deg);
    }

    .burger._active::after
    {
        width: 0;
        margin: calc(-1 * var(--heightItem)) 0 0 0;
    }
}

@media (max-width: 576px)
{
    h1
    {
        font-size: 32px;
        line-height: 40px;
    }

    h2
    {
        font-size: 28px;
        line-height: 36px;
    }

    .header
    {
        padding: 22px 0;
    }

    .startpage__info
    {
        margin-top: 120px;
        margin-bottom: 50px;
    }

    .startpage__maintitle,
    .startpage__desc
    {
        margin-bottom: 40px;
    }

    .startpage__maintitle br
    {
        display: none;
    }

    .startpage__desc
    {
        font-size: 16px;
        line-height: 20px;
    }

    .startpage__buttons
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        gap: 15px;
    }

    .startpage__btn
    {
        width: 100%;
    }

    .order__subtitle,
    .order__steps
    {
        margin-bottom: 40px;
    }

    .footer
    {
        padding: 31px 0;
    }

    .footer__contacts
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footer ._copyright
    {
        grid-column: span 1;
    }

    .footer__contacts
    {
        gap: 24px;
    }

    .footer__text
    {
        font-size: 18px;
        line-height: 24px;
    }

    .logo
    {
        font-size: 24px;
        line-height: 28px;
    }

    .menu__list
    {
        padding-top: 8px;
    }

    .burger
    {
        --height: 18px;
    }

    .burger::before,
    .burger div,
    .burger::after
    {
        width: 28px;
    }

    .btn
    {
        font-size: 16px;
        line-height: 20px;
    }

    .steps__item
    {
        min-width: 50%;
        max-width: 50%;
    }

    .form
    {
        grid-template-columns: 1fr;
    }

    .form ._submit
    {
        grid-column: span 1;
    }

    .contacts__item
    {
        font-size: 18px;
        line-height: 24px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (max-width: 480px)
{
    h1
    {
        font-size: 24px;
        line-height: 30px;
    }

    h2
    {
        font-size: 24px;
        line-height: 30px;
    }

    h3
    {
        font-size: 16px;
        line-height: 20px;
    }

    section
    {
        padding: 45px 0;
    }

    .order__subtitle,
    .order__steps
    {
        margin-bottom: 25px;
    }

    .footer__text
    {
        font-size: 16px;
        line-height: 20px;
    }

    .menu
    {
        width: 100vw;
    }

    .menu__link
    {
        font-size: 20px;
    }

    .btn
    {
        font-size: 14px;
        line-height: 18px;
    }

    .steps__pic
    {
        width: 80px;
        height: 80px;
    }

    .steps__img
    {
        width: 40%;
    }

    .steps__name
    {
        font-size: 14px;
        line-height: 18px;

        color: white;
    }

    .form__input
    {
        font-size: 14px;
        line-height: 18px;

        padding: 10px;
    }

    .form
    {
        gap: 15px;
    }

    .form__btn
    {
        padding: 10px;

        text-transform: none;
    }

    .scale
    {
        font-size: 15px;
        line-height: 18px;
    }

    .file
    {
        font-size: 14px;
        line-height: 18px;

        padding: 10px;
    }

    .dropdown__title
    {
        font-size: 14px;
        line-height: 18px;

        padding: 10px;
    }

    .dropdown__item
    {
        font-size: 14px;
        line-height: 18px;

        padding: 10px;
    }

    .contacts__item
    {
        font-size: 16px;
        line-height: 20px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@supports (-webkit-appearance:none)
{
    .startpage
    {
        background-image: url('./../img/background/startpage-bg.webp');
    }
    .order
    {
        background-image: url('./../img/background/order-bg.webp');
    }
}

@media (max-width: 1200px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 992px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 768px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 576px)
{
    @supports (-webkit-appearance:none)
    {
    }
}

@media (max-width: 480px)
{
    @supports (-webkit-appearance:none)
    {
    }
}
